body {
  background-color: #fffae6;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: lighter;
}

.app-container {
  background-color: #faf9f0;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.34);
  margin: 50px auto;
  padding: 30px 30px 70px 30px;
}

header {
  border-bottom: 1px solid #e4e4e4;
  padding: 0 0 20px 0;
}

main {
  padding: 30px 0;
}

a {
  color: #885df1;
}

.search-form-input {
  background-color: #dcecc3;
  width: 75%;
  border: none;
  border-radius: 12px;
  padding: 18px;
  font-size: 16px;
}
.search-form-button {
  background-color: #d7e9b9;
  border-radius: 12px;
  border: none;
  padding: 18px 20px 18px 20px;
  font-size: 16px;
  margin-left: 15px;
  color: #757575;
}

.app-data {
  display: flex;
  justify-content: space-between;
}

.app-city {
  margin: 0;
  font-size: 40px;
  line-height: 48px;
}

.app-details {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #a8a7b4;
}

.weather-details {
  color: #fb9378;
  font-weight: 500;
}

.app-temperature-container {
  display: flex;
  font-weight: 300;
}

.app-temperature-icon {
  font-size: 45px;
  margin-top: 20px;
}

.app-temperature-value {
  font-size: 85px;
  font-weight: 400;
  margin-left: 20px;
}

.app-temperature-unit {
  font-size: 22px;
  font-weight: 400;
  margin-top: 15px;
}

footer {
  border-top: 1px solid #e4e4e4;
  padding: 20px 0 0 0;
  text-align: center;
  color: #ababab;
}
